<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>EtherQL</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/stylesheets/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/theme.css" rel="stylesheet">
  </head>

  <body>
    <%- include('header'); %>

    <div class="container theme-showcase" role="main">

      <div class="page-header">
        <h1>Block Number: <%= block.number %></h1>
      </div>

      <ul class="list-group">
        <li class="list-group-item">Hash: <%= block.hash %> </li>
        <li class="list-group-item">Difficulty: <%= parseInt(block.difficulty) %> </li>
        <li class="list-group-item">Miner: <%= block.miner %> </li>
        <li class="list-group-item">Gas Limit: <%= parseInt(block.gasLimit) %> </li>
        <li class="list-group-item">Gas Usage: <%= (parseInt(block.gasUsed)/parseInt(block.gasLimit)*100).toFixed(1) %>% (<%= parseInt(block.gasUsed) %> of <%= parseInt(block.gasLimit) %>) </li>
        <li class="list-group-item">Time: <%= block.timestamp %> </li>
        <li class="list-group-item">Uncle Hash: <%= block.sha3Uncles %> </li>
        <li class="list-group-item">Root: <%= block.stateRoot %> </li>
        <li class="list-group-item">Tx Hash: <%= block.transactionsRoot %> </li>
        <li class="list-group-item">Size: <%= parseInt(block.size) %> bytes </li>
        <li class="list-group-item">Nonce: <%= block.nonce %> </li>
      </ul>

    </div> <!-- /container -->
  </body>
</html>
