<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>EtherQL</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/stylesheets/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/theme.css" rel="stylesheet">
  </head>

  <body>
    <%- include('header'); %>

    <div class="container theme-showcase" role="main">

      <div class="page-header">
        <h3>Tx: <%= transaction.hash %></h3>
      </div>

      <ul class="list-group">
        <li class="list-group-item">Block: <%- link_to(transaction.blockNumber, '/block/'+transaction.blockNumber) %> </li>
        <li class="list-group-item">From: <%= transaction.from %> </li>
        <li class="list-group-item">To: <%= transaction.to %> </li>
        <li class="list-group-item">Amount: <%= parseInt(transaction.value)/1000000000000000000 %> Ether</li>
        <li class="list-group-item">Account Nonce: <%= parseInt(transaction.nonce) %></li>
        <li class="list-group-item">Gas Price: <%= parseInt(transaction.gasPrice)/1000000000000000000 %> Ether</li>
        <li class="list-group-item">Gas Limit: <%= parseInt(transaction.gas) %></li>
      </ul>

    </div> <!-- /container -->
  </body>
</html>
